workflows/CN4AXuDJ8JUj83Lp.json
{"createdAt":"2025-07-26T18:06:17.328Z","updatedAt":"2025-07-26T21:55:17.000Z","id":"CN4AXuDJ8JUj83Lp","name":"1 Phase","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AjsHPS66eeMmM3YnjfxGz5zvwSgzTxi2","mode":"list","cachedResultName":"ThreadHue","cachedResultUrl":"https://drive.google.com/drive/folders/1AjsHPS66eeMmM3YnjfxGz5zvwSgzTxi2"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"c9773f69-c613-4ca8-bac2-ac434d8d4cb1","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"0D7ndXzHvrNRJRc3","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"54e7a968-6cc3-4dc2-adbb-1cecbda7f5fc","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"0D7ndXzHvrNRJRc3","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n"},"options":{"pineconeNamespace":"ThreadHue"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[416,0],"id":"2a012f7b-5ddd-4ce1-803e-3d7fa6e165e0","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"JCNFgSxD2vATj0oN","name":"PineconeApi account"}}},{"parameters":{"modelName":"embed-multilingual-v3.0"},"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1,"position":[368,192],"id":"a4d0666c-1bfb-4b85-b813-7a324506c95e","name":"Embeddings Cohere","credentials":{"cohereApi":{"id":"szAgLVWFOn3tCAJz","name":"CohereApi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[560,208],"id":"6dee1510-621f-4815-ab80-14ebd1a59c02","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[576,384],"id":"b82d05d1-3bb9-462f-8dd4-1b92c0a12cef","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Cohere":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-07-26T21:53:12Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"433addf1-e69c-4876-a2d3-95d02a519a19","triggerCount":1,"tags":[]}